@keyframes
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
  
  body{
  font-family: "Poppins", sans-serif;
  }
  
  header{
  background-color: #424e61;
  color: white;
  width: 100%;
  padding: 40px;
  
  }

.cabecalho{
  max-width: 1980px;
  margin:0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

  .cabecalho-title{
    padding: 50px;
        text-align: center;
        width: 50%;
        font: 60px;
  }  

  .cabecalho-img{
    width: 10%;
    display:flex;
    justify-content: flex-start;
    align-items:center;

  }

  .cabecalho-icone{
    display: flex;
    justify-content:flex-end;
    width: 10%;
    padding-right: 20px;

  }
 
  .introducao{    
    background-color: #bbdefb;
    color: azure;
    padding: 24px 0;
    

  }
  

   .sociais{
    display: flex;
    justify-content:space-around;
    align-items: center;
   }



    .desenvolvimento{
      background-color: #45bbdf;
   color: rgb(255, 255, 255);
 
   padding: 40px;

    }

    .desenvolvimento-title{
      text-align: center;
      padding: 50px;
      
   
    }

    .text-one{
    text-align: center;
    padding: 50px;
    color: black;
    font: 50%;
